__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.venv
venv
env
tests
.env
.env.*
*.md
*.pdf
*.log
.git
.gitignore
.github
.idea
.vscode
Dockerfile
.dockerignore
docker-compose.yml
requirements-dev.txt
